
$primary-gradient: linear-gradient(to top,#4e54c8 0%, #8f94fb 100%);


$student-color: linear-gradient(30deg, #087a49 0%, #3cba92 100%);
$teacher-color: linear-gradient(30deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
$staff-color: linear-gradient(30deg, #f2994a 0%, #f2c94c 100%);
$admin-color: linear-gradient(30deg, #fa2912 0%, #fe51a7 100%);
$audit-color: linear-gradient(30deg, #5614b0 0%, #d04ed6 100%);

