$primary-gradient: linear-gradient(to top, #4e54c8 0%, #8f94fb 100%);


$student-color: linear-gradient(30deg, #07693f 0%, #2f9e7b 100%);
$teacher-color: linear-gradient(30deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
$mentor-color: linear-gradient(30deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
$super-admin-color: linear-gradient(30deg, #c51e0c 0%, #fe51a7 100%);
$admin-color: linear-gradient(30deg, #c51e0c 0%, #fe51a7 100%);
$audit-color: linear-gradient(30deg, #5311b1 0%, #b63fbd 100%);